{% extends 'base.html' %}

{% block head_title %}
this is amazing!!!!
{% endblock head_title%}

{% block content %}
<div class='row text-center'>
    <div class='col'>
        <h1>Welcome to Tweetme</h1>
    </div>
</div>
<div class='row mb-3'>
    <div class='col-md-4 mx-auto col-10'>
        <form class='form' id='tweet-create-form' method='POST' action='/create-tweet'>
            {% csrf_token %}
            <div class='d-none alert alert-danger' id='tweet-create-form-error'></div>
            <input type='hidden' value='/' name='next-from-feed-html' />
            <textarea required='required' class='form-control' name='content' placeholder='Nhập tweet...'></textarea>
            <button type='submit' class='btn btn-primary'>Tạo</button>
        </form>
    </div>
</div>
<div class='row' id='tweets'>
    Loading...
</div>
<script>
    function getCookie(arg_name) {
        var cookieValue = null
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';')
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim()
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, arg_name.length + 1) === (arg_name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(arg_name.length + 1))
                    break
                }
            }
        }
        return cookieValue
    }
    function onTweetFormError(msg, display){
        let myErrorDiv = document.getElementById("tweet-create-form-error")
        if (display) {
            // show error
            myErrorDiv.setAttribute("class", "d-block alert alert-danger")
            myErrorDiv.innerText = msg
        } else {
            // hide error
            myErrorDiv.setAttribute("class", "d-none alert alert-danger")
        }
    }
    function onTweetCreateFormDidSumbit(event) {
        event.preventDefault() //KO chạy <form method='POST'...> nữa!
        const myForm = event.target
        const myFormData = new FormData(myForm)
        const url = myForm.getAttribute("action")
        const method = myForm.getAttribute("method")
        const xhr = new XMLHttpRequest()
        const responseType = "json"
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
        xhr.onload = function() {
            //console.log(xhr.status, xhr.response) //redirect to value='/' của <form id='tweet-create-form'>
            if (xhr.status === 201) {
                onTweetFormError("", false)
                const newTweetJson = xhr.response
                const newTweetElement = formatTweetElement(newTweetJson)
                const ogHtml = tweetsElem.innerHTML
                tweetsElem.innerHTML = newTweetElement + ogHtml
                myForm.reset()
            } else if (xhr.status === 400) {
                const errorJson = xhr.response
                const contentError = errorJson.content
                let contentErrorMsg = ''
                if (contentError) {
                    contentErrorMsg = contentError[0]
                    if (contentErrorMsg) {
                        onTweetFormError(contentErrorMsg, true)
                    } else {
                        alert("An error occured. Please try again.")
                    }
                } else {
                    alert("An error occured. Please try again.")
                }
            } else if (xhr.status === 500) {
                alert("There was a server error, please try again.")
            } else if (xhr.status === 401 || xhr.status === 403) {
                alert("You must login!")
                window.location.href = "/login"
            }
        }
        xhr.onerror = function() {
            alert("An error occurred. Please try again later.")
        }
        xhr.send(myFormData)
    }
    const tweetCreateFormEl = document.getElementById("tweet-create-form")
    // thứ tự chạy: click button "Tạo" > onTweetCreateFormDidSumbit() > add thêm vô biến "tweetsElem"
    // > onLoadTweets() > phản ánh biến "tweetsElem" lên html thông qua id='tweets'
    tweetCreateFormEl.addEventListener("submit", onTweetCreateFormDidSumbit)
    const tweetsElem = document.getElementById('tweets')
    function onLoadTweets(arg_tweets){
        const xhr = new XMLHttpRequest()
        const method = 'GET'
        const url = '/tweets'
        const resType = 'json'
        xhr.responseType = resType
        xhr.open(method, url)
        xhr.onload = function () {
            const serverRes = xhr.response
            const listItems = serverRes
            let finalTweetsStr = ''
            for (let index = 0; index < listItems.length; index++) {
                const curItem = formatTweetElement(listItems[index])
                finalTweetsStr += curItem
            }
            arg_tweets.innerHTML = finalTweetsStr
        }
        xhr.send()
    }
    onLoadTweets(tweetsElem)
    function handleTweetActionBtn(tweet_id, like_count, arg_action) {
        const url = "/api/tweets/action"
        const method="POST"
        const data = JSON.stringify({
            id: tweet_id,
            action: arg_action
        })
        const xhr = new XMLHttpRequest()
        const csrftoken = getCookie('csrftoken')
        xhr.open(method, url)
        xhr.setRequestHeader("Content-Type", "application/json")
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
        xhr.setRequestHeader("X-CSRFToken", csrftoken)
        xhr.onload = function() {
            // react.js this handle the state much better
            onLoadTweets(tweetsElem)
        }
        xhr.send(data)
        return
    }
    function onRetweetBtn(arg_tweet) {
        return "<button class='btn btn-outline-success btn-sm' onclick=handleTweetActionBtn(" + 
        arg_tweet.id + "," + arg_tweet.likes + ",'retweet')>Retweet</button>"
    }
    function onUnLikeBtn(arg_tweet) {
        return "<button class='btn btn-outline-primary btn-sm' onclick=handleTweetActionBtn(" + 
        arg_tweet.id + "," + arg_tweet.likes + ",'unlike')>Unlike</button>"
    }
    //user click "Like" > onLikeBtn() > handleTweetActionBtn(xxx,like) > "/api/tweets/action" (action="like") > tweet_action_view() > obj.likes.add()
    function onLikeBtn(arg_tweet) {
        return "<button class='btn btn-primary btn-sm' onclick=handleTweetActionBtn(" + 
        arg_tweet.id + "," + arg_tweet.likes + ",'like')>" + arg_tweet.likes + " Likes</button>"
    }
    function formatTweetElement(tweet_item) {
        const formattedTweet = "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id='tweet-" + tweet_item.id + "'><p>" + tweet_item.content + "</p><div class='btn-group'>" + 
        onLikeBtn(tweet_item) +
        onUnLikeBtn(tweet_item) +
        onRetweetBtn(tweet_item) +
        "</div></div>"
        return formattedTweet
    }
</script>
{% endblock content %}