{% extends 'base.html' %}

{% block head_title %}
this is amazing!!!!
{% endblock head_title%}

{% block content %}
<div class='row text-center'>
    <div class='col'>
        <h1>Welcome to Tweetme</h1>
    </div>
</div>
<div class='row' id='tweets'>
    Loading...
</div>
<script>
    const tweetsElem = document.getElementById('tweets')
    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = '/tweets'
    const resType = 'json'
    function handleDidLike(tweet_id, like_count) {
        console.log(tweet_id, like_count)
        return
    }

    function onLikeBtn(arg_tweet) {
        return "<button class='btn btn-primary btn-sm' onclick=handleDidLike(" +
            arg_tweet.id + "," + arg_tweet.likes + ")>" + arg_tweet.likes + " Likes</button>"
    }
    function formatTweetElement(tweet_item) {
        const formattedTweet = "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id='tweet-" + tweet_item.id + "'><p>" + tweet_item.content + "</p><div class='btn-group'>" + onLikeBtn(tweet_item) +
            "</div></div>"
        return formattedTweet
    }
    xhr.responseType = resType
    xhr.open(method, url)
    xhr.onload = function () {
        const serverRes = xhr.response
        const listItems = serverRes.responseFromTListView
        let finalTweetsStr = ''
        for (let index = 0; index < listItems.length; index++) {
            const curItem = formatTweetElement(listItems[index])
            finalTweetsStr += curItem
        }
        tweetsElem.innerHTML = finalTweetsStr
    }
    xhr.send()
</script>
{% endblock content %}